@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://www.delitosfinancieros.org/wp-content/uploads/2020/07/Efectividad.jpg" alt="..." class="img-rounded">
    <h1>SISTEMA DE INVENTARIOS</h1>
    <p class="lead">Bienvenido al Sistema de Inventarios con la interfaz más agil y sencilla. Controla y crea tus inventarios ahora.</p>
    <p><a href="https://localhost:44366/Usuario/Login" class="btn btn-primary btn-lg">EMPEZAR AHORA &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Crea tu inventario</h2>
        <p>La primera funcionalidad te permite crear desde cero tu inventario, contralando y teniendo el control de tus datos.</p>
        <p><a class="btn btn-primary" href="https://localhost:44366/Usuario/Login">VER MÁS &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Revisa tu inventario</h2>
        <p>La segunda funcionalidad te permite leer todos los datos de tu inventario, de esta manera podras verificar los datos que sean recibidos en el sistema.</p>
        <p><a class="btn btn-primary" href="https://localhost:44366/Usuario/Login">VER MÁS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Elimina o edita tu inventario</h2>
        <p>La tercera y última funcionalidad te permite editar y eliminar datos erroneos de tu inventario, de esta manera no tendras problemas en corregir datos ingresados en el sistema.</p>
        <p><a class="btn btn-primary" href="https://localhost:44366/Usuario/Login">VER MÁS &raquo;</a></p>
    </div>

</div>

<body>
    <div class="container">
        <img src="https://www.delitosfinancieros.org/wp-content/uploads/2020/07/Efectividad.jpg" class="mx-auto d-block" >

    </div>


</body>